extends layout

block layout-content
  h1.text-break= post.title
  p= post.date
  if post.image !== ''
    div.text-center
      img.post-image(src="/images/" + post.image, alt="Post image")
  hr
  h2 Abstract
  p.text-break= post.abstract
  hr
  p.text-break= post.text
  hr
  h2 Comments
  p
    button.btn.btn-secondary(type="button", data-bs-toggle="collapse",
    data-bs-target="#comment-form", aria-expanded="false", aria-controls="comment-form") Add a comment
  div.collapse#comment-form
    div.comment
      form(action="/comment/" + post.id, method="post") 
        div.mb-3
          label(for="email") Email address
          input.form-control#email(type="email", name="email", placeholder="name@example.com")
        div.mb-3
          label(for="text") Your comment (200 characters max)
          textarea.form-control#text(name="text", rows="2", maxLength="200") 
        button.btn.btn-primary(type="submit") Submit comment
  if comments.length === 0
    p No comments...
  each comment in comments
    section.comment
      div.row
        h5.col-sm-auto= comment.dataValues.email
        if authLevel === 'author' || authLevel === 'admin'
          form.col-sm-3(action="/comment/delete/" + comment.dataValues.id, method="post") 
            input(type="hidden", name="postId", value=post.id)
            button.btn.btn-danger(type="submit") Delete comment
      p.text-break= comment.dataValues.text
